<div class="RNNXgb" jsname="RNNXgb">
    <div class="SDkEP">
        <div class="iblpc" jsname="uFMOof">
            <style>
                .hsuHs {
                    margin: auto
                }
                
                .wFncld {
                    color: #9AA0A6;
                    height: 20px;
                    width: 20px;
                    margin-top: 3px
                }
            </style>
            <div class="hsuHs"><span class="wFncld z1asCe MZy1Rb"><svg focusable="false"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                        </path>
                    </svg></span></div>
        </div>
        < jscontroller="iDPoPb" class="a4bIc" jsname="gLFyf" jsaction="h5M12e;input:d3sQLd;focus:dFyQEf;blur:jI3wzf">
            <style>
                .gLFyf {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;
                    color: rgba(0, 0, 0, .87);
                    word-wrap: break-word;
                    outline: none;
                    display: flex;
                    flex: 100%;
                    -webkit-tap-highlight-color: transparent;
                    margin-top: -37px
                }
                
                .minidiv .gLFyf {
                    margin-top: -35px;
                }
                
                .a4bIc {
                    display: flex;
                    flex: 1;
                    flex-wrap: wrap
                }
                
                .vdLsw {
                    color: transparent;
                    flex: 100%;
                    white-space: pre
                }
                
                .vdLsw span {
                    background: url("/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;
                    padding: 0 0 10px 0;
                }
            </style>
            <div class="vdLsw gsfi" jsname="vdLsw"></div><input class="gLFyf gsfi" maxlength="2048" name="q" type="text" jsaction="paste:puy29d" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" role="combobox" spellcheck="false" title="Tìm kiếm"
                value="" aria-label="Tìm kiếm" data-ved="0ahUKEwj3h6Pu3sDmAhXCL6YKHWUhA9IQ39UDCAQ">
    </div>
    <div class="dRYYxd">
        <style>
            .dRYYxd {
                display: flex;
                flex: 0 0 auto;
                margin-top: -5px;
                align-items: stretch;
                flex-direction: row
            }
            
            .minidiv .dRYYxd {
                margin-top: 0
            }
        </style>
        <style>
            .J9leP {
                flex: 1 0 auto;
                display: flex;
                cursor: pointer;
                align-items: center;
                border: 0;
                background: transparent;
                outline: none;
                padding: 0 8px;
                width: 24px;
                line-height: 44px
            }
            
            .hOoLGe {
                background: url('//www.gstatic.com/inputtools/images/tia.png') no-repeat center;
                height: 24px;
                width: 24px;
                vertical-align: middle
            }
            
            .dQuYle {
                visibility: hidden
            }
        </style>
        <div jscontroller="Y33vzc" class="J9leP" aria-label="Công cụ nhập" role="button" tabindex="0" jsaction="h5M12e;rcuQ6b:npT2md"><span class="hOoLGe"><img class="dQuYle" src="/tia/tia.png"
                    tia_disable_swap="true" tia_field_name="q" jsname="JyIpdf"
                    onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"
                    data-iml="1576725140002" data-atf="0" tia_property="web"></span></div>
        <style>
            .hpuQDe {
                flex: 1 0 auto;
                display: flex;
                cursor: pointer;
                align-items: center;
                border: 0;
                background: transparent;
                outline: none;
                padding: 0 8px;
                width: 24px;
                line-height: 44px
            }
            
            .HPVvwb {
                background: url('//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') 0 0 no-repeat;
                height: 24px;
                width: 24px;
                background-size: 24px;
                vertical-align: middle
            }
            
            .minidiv .hpuQDe {
                line-height: 32px
            }
            
            .minidiv .HPVvwb {
                background-size: 20px 20px;
                height: 20px;
                width: 16px
            }
        </style>
        <div jscontroller="MC8mtf" class="hpuQDe" aria-label="Tìm kiếm bằng giọng nói" role="button" tabindex="0" jsaction="h5M12e;rcuQ6b:npT2md" data-ved="0ahUKEwj3h6Pu3sDmAhXCL6YKHWUhA9IQvs8DCAU">
            <span class="HPVvwb"></span>
        </div>
    </div>
</div>
</div>